
@{
    ViewBag.Title = "Index";
}

<h2>Quest Game</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Доступные квесты</h3>
        </div>
        <div class="panel-body">
            <p>Здессь список квестов</p>
            @*@Html.ActionLink("Назад к списку", "Index", "Merchant", new { @class = "btn btn-default" })*@
        </div>
    </div>
</div>