@model IEnumerable<QuestGame.WebApi.Models.QuestViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактор квестов</h2>

<div>
    @{
        if (Model != null)
        {
            <ul>
                @foreach (var quest in Model)
                {
                    <li>
                        <h3>@quest.Owner</h3>
                        <p>@quest.Body</p>
                    </li>
                }
            </ul>
        }
    }
</div>